<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group wd-200 me-2 mb-2 mb-md-0">
      <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
        <i data-feather="calendar" appFeatherIcon></i>
      </button>
      <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
    </div>
  </div>
</div>
<div class="row">
  <!-- Première carte -->
  <div class="row mt-4" *ngIf="isPresidantAssoication">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Members</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfMembersForCurrentUser }}</h3>
                <p class="text-muted">Total Members</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/member/list-member">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="card-title mb-0">Kafilas</h6>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div class="member-info d-flex align-items-center justify-content-between">
                <div class="member-info-left">
                  <h3 class="mb-2">{{ numberOfKafila }}</h3>
                  <p class="text-muted">TotalKafila</p>
                </div>
                <div class="member-info-right">
                  <button class="btn btn-primary" routerLink="/kafila/list-kafila">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- 3 card -->
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">BiensEssentiels</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfBien }}</h3>
                <p class="text-muted">TotalBiensEssentiel</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/biens-essentiel/list-bien">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-4 grid-margin stretch-card" >
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="card-title mb-0">Villes</h6>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div class="member-info d-flex align-items-center justify-content-between">
                <div class="member-info-left">
                  <h3 class="mb-2">{{ numberOfVille }}</h3>
                  <p class="text-muted">TotalVille</p>
                </div>
                <div class="member-info-right">
                  <button class="btn btn-primary" routerLink="/vil-dow/list-vd">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->
  <div class="row mt-4" *ngIf="isAdminApp">

  <div class="col-md-4 grid-margin stretch-card" >
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Utilisateurs</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfUtilisateur }}</h3>
                <p class="text-muted">TotalUtilisateur</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/utilisateur/list-utilisateur">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->

  <div class="col-md-4 grid-margin stretch-card" >
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Associations</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfAssociation }}</h3>
                <p class="text-muted">TotalAssociation</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/association/list-association">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->

  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Dowars</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfDowar }}</h3>
                <p class="text-muted">TotalDowar</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/dowar/list-dowar">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte for adminApp-->

  <div class="col-md-4 grid-margin stretch-card" >
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Villes</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfVille }}</h3>
                <p class="text-muted">TotalVille</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/ville/list-ville">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- Deuxième carte for presidantAssociation-->
</div> <!-- row -->
