<div class="row">
  <!-- Première carte -->
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Members</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfMembers }}</h3>
                <p class="text-muted">Total Members</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/member/list-member">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- 3 card -->
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">BiensEssentiels</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfBien }}</h3>
                <p class="text-muted">TotalBiensEssentiel</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/biens-essentiel/list-bien">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->

  <div class="col-md-4 grid-margin stretch-card" *ngIf="isAdminApp">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Utilisateurs</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfUtilisateur }}</h3>
                <p class="text-muted">TotalUtilisateur</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/utilisateur/list-utilisateur">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->

  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Associations</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfAssociation }}</h3>
                <p class="text-muted">TotalAssociation</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/association/list-association">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->

  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Dowars</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfDowar }}</h3>
                <p class="text-muted">TotalDowar</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/dowar/list-dowar">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->

  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">Villes</h6>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ numberOfVille }}</h3>
                <p class="text-muted">TotalVille</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/ville/list-ville">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deuxième carte -->
<!--  <div class="col-md-4 grid-margin stretch-card">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <div class="d-flex justify-content-between align-items-center">-->
<!--          <h6 class="card-title mb-0">Kafilas</h6>-->
<!--        </div>-->
<!--        <div class="row mt-3">-->
<!--          <div class="col-12">-->
<!--            <div class="member-info d-flex align-items-center justify-content-between">-->
<!--              <div class="member-info-left">-->
<!--                <h3 class="mb-2">{{ numberOfKafila }}</h3>-->
<!--                <p class="text-muted">TotalKafila</p>-->
<!--              </div>-->
<!--              <div class="member-info-right">-->
<!--                <button class="btn btn-primary" routerLink="/kafila/list-kafila">View Details</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div> <!-- row -->
