<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Dowar</a></li>
    <li class="breadcrumb-item active" aria-current="page">list-dowar</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">list-dowar</h6>
        <div class="search-container">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by ville..." [(ngModel)]="searchTerm" (ngModelChange)="searchDowars()" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" style="margin-left: 10px" (click)="searchDowars()">Search</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table id="dataTableExample" class="table" *ngIf="dowars && dowars.length">
            <thead>
            <tr>
              <th>Nom Dowar</th>
              <th>Ville</th>
              <th>Nombre de résidant</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dowar of dowars | slice: (currentPage - 1) * pageSize : (currentPage - 1) * pageSize + pageSize">
              <td>{{ dowar.nomDowars }}</td>
              <td>{{ getVilleNameById(dowar.villeId) }}</td>
              <td>{{ dowar.nmbrResidant }}</td>
              <td>
                <button class="btn btn-info btn-sm" routerLink="/dowar/update-dowar/{{ dowar.id }}">Update</button>
                <button class="btn btn-danger btn-sm" style="margin-left: 10px" (click)="deleteDowar(dowar.id)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-container">
          <ul class="pagination mt-4" style="float: right">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" href="javascript:void(0)" (click)="setPage(1)">First</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" href="javascript:void(0)" (click)="currentPage = currentPage - 1">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
              <a class="page-link" href="javascript:void(0)" (click)="currentPage = page">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" href="javascript:void(0)" (click)="currentPage = currentPage + 1">Next</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" href="javascript:void(0)" (click)="currentPage = totalPages">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
