<nav class="navbar">
  <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">
    <i class="feather icon-menu"></i>
  </a>
  <div class="navbar-content">
    <form class="search-form">
      <div class="input-group">
        <div class="input-group-text">
          <i class="feather icon-search"></i>
        </div>
        <input type="text" class="form-control" id="navbarForm" placeholder="Search here...">
      </div>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item nav-profile" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="profileDropdown">
          <img class="wd-60 ht-60 rounded-circle" src="../assets/images/ATAA.png" alt="profile">
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="profileDropdown">
          <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
            <div class="mb-3">
              <img class="wd-80 ht-80 rounded-circle" src="../assets/images/ATAA.png" alt="">
            </div>
            <a *ngIf="isAuthenticated"
               href="#" class="d-flex align-items-center text-white text-decoration-none"  aria-expanded="false">
              <i class="fa-solid fa-circle-user"></i>
              <span class="d-none d-sm-inline mx-1" style="color: #0d6efd">{{ name }}</span>
            </a>
          </div>
          <ul class="list-unstyled p-1">
            <li class="dropdown-item py-2" *ngIf="isAuthenticated">
              <a (click)="logout()" class="nav-link d-flex text-body ms-0">
                <i class="feather icon-log-out me-2 icon-md"></i>
                <span>Logout</span>
              </a>
            </li>

          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
