<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Utilisateurs</a></li>
    <li class="breadcrumb-item active" aria-current="page">list-utilisateur</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">list-utilisateur</h6>
        <div class="search-container">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by name..." [(ngModel)]="searchTerm" (ngModelChange)="searchUtilisateurs()" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" style="margin-left: 10px" (click)="searchUtilisateurs()">Search</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table id="dataTableExample" class="table" *ngIf="utilisateurs && utilisateurs.length">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Email</th>
              <th>Password</th>
              <th>Address</th>
              <th>Date Naissance</th>
              <th>Role</th>
              <th>Genre</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utilisateur of utilisateurs">
              <td>{{ utilisateur.nomComplete }}</td>
              <td>{{ utilisateur.email }}</td>
              <td>{{ utilisateur.password }}</td>
              <td>{{ utilisateur.address }}</td>
              <td>{{ utilisateur.dateNaissance }}</td>
              <td>{{ utilisateur.roleUser }}</td>
              <td>{{ utilisateur.genre }}</td>
              <td>
                <button class="btn btn-info btn-sm" (click)="false">Update</button>
                <button class="btn btn-danger btn-sm" style="margin-left: 10px" (click)="deleteUtilisateur(utilisateur.id)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
