<div class="row">
  <div *ngFor="let ville of villesWithDowarsAndArrivedKafilas" class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">{{ ville.nomVille }}</h6>
        </div>
        <div *ngFor="let dowar of ville.dowars" class="row mt-3">
          <div class="col-12">
            <div class="member-info d-flex align-items-center justify-content-between">
              <div class="member-info-left">
                <h3 class="mb-2">{{ dowar.nomDowars }}</h3>
                <p class="text-muted">Number of arrived kafilas: {{ dowar.arrivedKafilaCount }}</p>
              </div>
              <div class="member-info-right">
                <button class="btn btn-primary" routerLink="/kafila/add-kafila">Add Kafila</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
