<div class="row w-100 mx-0 auth-page mt-7">
  <div class="col-md-8 col-xl-8 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-12 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <div id="content">
              <ul class="timeline">
                <!-- Existing timeline events... -->
                <li class="event" data-date="1">
                  <h3 class="title">Contact Admin</h3>
                  <p>Contact admin at this number +212 646210352 or email at hamzabenmoussa166@gmail.com</p>
                </li>
                <li class="event" data-date="2">
                  <h3 class="title">Send PDF</h3>
                  <p>Send a PDF to the association with the required information.</p>
                </li>
                <li class="event" data-date="3">
                  <h3 class="title">Response</h3>
                  <p>We will respond to you within 24 hours.</p>
                </li>
              </ul>
            </div>
            <button class="btn btn-primary mt-3" style="margin-left: 420px" routerLink="/auth/login">Return to Login</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
